addict
diffusers
gradio
huggingface_hub
matplotlib
numpy<2
onnxruntime
opencv_python
Pillow
pycocotools
PyYAML
requests
setuptools
supervision==0.21.0
termcolor
timm
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
transformers
yapf
nltk
fairscale
litellm
