--extra-index-url https://download.pytorch.org/whl/cu116
addict
diffusers[torch]==0.15.1
fairscale
gradio
huggingface_hub
ipykernel==6.16.2
litellm
matplotlib>=3.7.2
nltk
numpy==1.26.4
onnx==1.13.1
onnxruntime==1.14.1
openai
opencv-python==4.7.0.72
Pillow
pycocotools==2.0.6
PyYAML
requests
scipy
setuptools
supervision==0.21.0
termcolor
timm
torch==1.13.1+cu116
torchaudio==0.13.1+cu116
torchvision==0.14.1+cu116
# Pin to a version compatible with torch==1.13.1 to avoid
# AttributeError: torch.utils._pytree.register_pytree_node
transformers==4.30.2
wheel
yapf
